.container {
  color: white;
}

.container h1 {
  padding-bottom: 25px;
}

@media screen and (max-width: 980px) {

  .container h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 450px) {

  .container h1 {
    font-size: 1.2rem;
  }
}
